<header id="mainHeader">
  <h1 id="logo">{{ title }}</h1>
  <a href="/login" id="loginButton">LOGIN</a>
</header>
<section id="intro">
  <h2 class="hidden">Introduction</h2>
  <p id="firsttext">Welcome to Flashback! A place where you can listen to your favourite music, watch your most treasured movies, and watch all of the trendy television shows!</p>
  <div class="circle"><img src="images/icons/movie_icon.png"></div>
  <div class="circle"><img src="images/icons/tv_icon.png"></div>
  <div class="circle"><img src="images/icons/music_icon.png"></div>
  <br>
  <div class="mainDesc">
    <h3>Movies</h3>
    <p>You're next favourite movie is here</p>
  </div>
  <div class="mainDesc">
    <h3>Television</h3>
    <p>Get ready to binge watch the most popular shows</p>
  </div>
  <div class="mainDesc">
    <h3>Music</h3>
    <p>Find the best tracks that you can't stop listening too</p>
  </div>
</section>
<div id="container">
  <section id="users">
    <h2 class="hidden">Users</h2>
    <div class="parentUsers">
      <a href="/parents_home"><h2>PARENTS</h2></a>
    </div>
    <div class="kidUsers">
      <a href="/kids_home"><h2>KIDS</h2></a>
    </div>
  </section>
  <section id="services">
    <h2>Services</h2>
    <p>Flashback provides the number one web based streaming services for all things movies, television and music. We offer content for people of all ages and interests. Built in parental controls let you monitor what your loved ones are watching and decide what content they can and cannot see. This parental control tool is like none other and a must for any partent in the 21st century.</p>
  </section>
  <section id="eras">
    <div class="era"><img src="images/icons/1950's.png"></div>
    <div class="era"><img src="images/icons/1960's.png"></div>
    <div class="era"><img src="images/icons/1970's.png"></div>
    <div class="era"><img src="images/icons/1980's.png"></div>
    <div class="era"><img src="images/icons/1990's.png"></div>
  </section>
</div>
<footer>
  <h1 id="footerlogo">{{ title }}</h1>
  <p>All copyrights reserved 2018</p>
</footer>
