<header id="mainHeader">
  <h1 id="logo">{{ title }}</h1>
  <a href="/login" id="loginButton">Login</a>
</header>
<div class="intro2">
    <h1 id="introText2">{{message}}</h1>
    <p id="secondintroText2">Check out what's new below</p>
</div>
<div id="container2">
  <section id="kidsFilter">
    <p id="Intro">What would you like to see today?</p>
    <p id="clearF">Clear Filter</p>
    <h2 class="hidden">Filter</h2>
    <div class="filterOption2" id="filter1"><p>Movies</p></div>
    <div class="filterOption2" id="filter2"><p>Tv</p></div>
    <div class="filterOption2" id="filter3"><p>Music</p></div>
    <div class="filterOption2" id="filter4"><p>Favourites</p></div>
  </section>
  <section id="secondaryFilters">
    <h2 class="hidden"> Secondary Filter</h2>
    <div class="movieFilter hidden">
      <p class="Intro2">What Kind of Movies?</p>
      <div class="secF2" id="movF1">Adventure</div>
      <div class="secF2" id="movF2">Comedy</div>
      <div class="secF2" id="movF3">Educational</div>
      <div class="secF2" id="movF4">Serious</div>
      <div class="secF2" id="movF5">Sports</div>
    </div>
    <div class="tvFilter hidden">
      <p class="kidsIntro2">What Kind of Shows?</p>
      <div class="secF2" id="tvF1">Cartoon</div>
      <div class="secF2" id="tvF2">Educational</div>
      <div class="secF2" id="tvF3">Comedy</div>
      <div class="secF2" id="tvF4">History</div>
      <div class="secF2" id="tvF5">Sports</div>
    </div>
    <div class="musicFilter hidden">
      <p class="Intro2">What Kind of Music?</p>
      <div class="secF2" id="musF1">Pop</div>
      <div class="secF2" id="musF2">Country</div>
      <div class="secF2" id="musF3">Dance</div>
      <div class="secF2" id="musF4">Rock</div>
      <div class="secF2" id="musF5">Disney</div>
    </div>
  </section>
</div>
<footer>
  <h1 id="footerlogo">{{ title }}</h1>
  <p>All copyrights reserved 2018</p>
</footer>
